{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div  >
<h1 class = "hometitle" style="text-align: center">Videocl-App</h1>
<h2 class= "sentence">VideoclApp es el sitio donde están las mejores películas... Prepara las palomitas y disfruta de lal película que elijas.</h2>
<img class="homeimgn" src= "https://st3.depositphotos.com/1076754/13800/v/1600/depositphotos_138002580-stock-illustration-cinema-background-with-a-film.jpg">
</div>
{% endblock %}