{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
  <div class="formu"style="text-align: center">
	<h1 class="red">Registro</h1>
	<div class="r-form">
	{{ form_start (registrationForm) }}
	</div>
<div class="r-forme">
	{{ form_row(registrationForm.email) }}
	</div>
	<div class="r-formc">
	{{ form_row(registrationForm.plainPassword, {
            label: 'Contraseña'
        }) }}
	</div>
		<div class="r-formn">
	{{ form_row(registrationForm.name, {
            label: 'Nombre'
             }) }}
			 </div>
			 <div class="r-formn">
	{{ form_row(registrationForm.surname, {
            label: 'Apellido'
             }) }}
			 </div>
			 <div class="r-form">
	{{ form_row(registrationForm.agreeTerms) }}
	</div>
	<div class="r-form">
	<button type="submit" class="btn">Regístrate</button>
	</div>
	{{ form_end(registrationForm) }}

	
	</div>
	<img class="homeimgn" src= "https://st3.depositphotos.com/1076754/13800/v/1600/depositphotos_138002580-stock-illustration-cinema-background-with-a-film.jpg">

{% endblock %}
