{% extends "base.html.twig" %}


{% block body %}
<div class="f-title">
<h1  class="redi"> Películas <h1>
<div>
<div class="f-inf" >
<ul>
{% for film in films %}
<div class="f-details">
  <li class="f-lidetails"> 
   {{film.title|upper}} 
    <p> Director :{{film.director}} </p>
    <p> Año: {{film.year}}</p>
   <p>Actores: {{film.actors}}</p>
  
   {# <a href="{{path('detailsFilm', {'id':film.id})}}">  #}
    <img src= {{film.img}}/> 
  </a>
      </li>
      </div>
{% endfor %}
</ul>
</div>
{% endblock %}