{% extends "base.html.twig" %}


{% block body %}
	<div class="f-title">
		<h1 style="text-align: center">
			Películas
			<h1>
				<div>
					<div class="f-inf">
						<ul>

							<div class="f-details">
								<li class="f-lidetails">
									{{film.title|upper}}
									<p>
										Director :{{film.director}}
									</p>
									<p>
										Año:
										{{film.year}}</p>
									<p>Actores:
										{{film.actors}}</p>


									<img src={{film.img}}/>

								</li>
								<a href="{{path('getFilms')}}">volver<a/>
								</div>

							</ul>
						</div>
					{% endblock %}
