{% extends 'base.html.twig' %}

{% block title %}Nueva película
{% endblock %}

{% block body %}
	 <div class="formu"style="text-align: center">
		<h1 class="red">Añadir Película</h1>
<div class="r-form">
<div class="r-forme">
		{{ form_start(filmsForm) }}
		{{ form_row(filmsForm.title, {
        label:'Título'
    }) }}
    </div>
    <div class="p-forme">
		{{ form_row(filmsForm.director, {
            label: 'Director'
        }) }}
</div>
<div class="p-form">
		{{ form_row(filmsForm.year, {
            label: 'Año'
             }) }}
             </div>
             <div class="r-formn">
		{{ form_row(filmsForm.actors, {
            label: 'Actores'
             }) }}
             </div>
             <div class="r-formn">
		{{ form_row(filmsForm.img, {
            label: 'imagen'
             }) }}
             </div>

		<button type="submit" class="btn">Enviar</button>
		{{ form_end(filmsForm) }}
	</div>
    <img class="homeimgn" src= "https://st3.depositphotos.com/1076754/13800/v/1600/depositphotos_138002580-stock-illustration-cinema-background-with-a-film.jpg">

	</div>
{% endblock %}
