*{
    color: rgb(57, 59, 59);
   background-color: rgb(226, 224, 223);
   
};

.f-inf{
    border: crimson solid 2px;
}
.f-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.f-lidetails{
    border: rgb(98, 100, 100) 2px solid;
    border-radius: 4px;
    width: 11em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    
}
#registration_form_plainPassword{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
} 
#registration_form_email{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
}
#registration_form_name{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
    
}
#registration_form_surname{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
    
}
#registrationForm{
    align-items: center;
    font-size: 4em;
}
.btn{
    background-color: rgb(125, 126, 126);
    color:white;
    margin: 1em;
    width: 9em;
    height: 2em;
    border-radius: 5px solid black;
    font-size: 1em;

}
.r-formc{
    align-items: center;
    margin-right: 2em;
}
.r-formn{
    align-items: center;
    margin-right: 1em;
    background-color: seashell;
}
.homeimg{
    width: 100%;
    margin-top: 40%;
    
}
.homeimgn{
    width: 100%;
    margin-top: 10%;
    
}
.hometitle{
    font-size: 10em;
    color: red;
    
}
.navb{
    font-size: 2em;
    margin: 1em;
}
.formu{
    text-align: center;
    font-size: 2.5em;
    color:red;
}
.sentence{
    margin:1em;
    margin-top: 3em;
}
#films_form_title{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
}
#films_form_director{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
   
}
#films_form_year{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
}
#films_form_actors{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
}
#films_form_img{
    margin:1em;
    border-radius: 5px;
    background-color: beige;
}
.pform{
    margin-right: -0.5em;
}
.p-forme{
    margin-right: 1em; 
}
.red{
    color:red;
    font-size: 2em;
    text-align: center;
}
.redi{
    color:red;
    font-size: 4em;
    text-align: center;
}
.log{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.inputEmail{
    width: 25%;
    align-items: center;
}
.form-control{
    width: 25%;
}
#inputEmail{
    display: flex;
margin-left: 40%;
}
#inputPassword{
    display: flex;
margin-left: 40%;
}
.btn.btn-lg.btn-primary{
    margin-left: 44%;
    text-align: center;
    height: 3em;
}