<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset("/styles/styles.css")}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div>
<div class = "navb">
<nav class="navbar navbar-dark bg-dark">
<a href="{{ path('homePage')}}">Home</a>
<a href="{{ path('app_login')}}"> Login</a>
<a href="{{ path('app_register')}}"> Registro</a>
<a href="{{ path('getFilms')}}"> Films</a>
<a href="{{ path('postNewFilm')}}">Nueva Película</a>
</nav>
</div>
</div>
        {% block body %}{% endblock %}
    </body>
</html>
